@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap");

* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  line-height: 1.25;
}

h1 {
  font-size: 36px;
}

p {
  line-height: 1.5;
  font-size: 16px; /*buen tamano para la letra en parrafos*/
}

a {
  text-decoration: none;
  position: relative;/*Lo ignore como papa*/
}

.link-hover-effect:after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: black;
  width: 0;
  bottom: -3px;/*tirarlo atras*/
  right: 0;
  transition: all 300ms ease;
}

.link-hover-effect:hover:after{
  width: 100%;
  left: 0;
}

.wave {
  display: inline-block; /*span por default tiene display: inline que no permite rotar*/
  animation: animate-wave 500ms infinite ease-in-out; /*el ease-in-out lo hace un poco mas smooth*/
}

@keyframes animate-wave {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0);
  }
}

.link-hover-effect-white:after{
  background-color: white;
}

li {
  list-style-type: none;
}

.flex {
  display: flex;
  margin-top: 16px;
}

.container {
  padding-top: 50px;
}

.section-title {
  margin: 20px 0;
}

.flex-1 {
  flex: 1;
}

.text-green {
  color: rgb(20, 223, 155);
}

.tooltip-container {
  /*container del tooltip*/
  position: relative;
  display: inline-block;
  /*border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltip-container .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(155, 155, 155);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  margin-top: 4px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-container:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip-container .tooltiptext::after {
  /*para que tenga flecha*/
  content: " ";
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(83, 81, 81) transparent;
}

/*section:nth-child(odd)*/ .row {
  /*odd numbers*/
  background: #f5f5f5;
  width: 100%;
  padding: 0 12px;
  max-width: 800px;
  margin: 0 auto;
  /**box-shadow: 5px 5px 5px 10px #d0d0d0;**/
  box-shadow: 20px 20px 60px #d0d0d0, 20px 20px 60px #ffffff;
}

/* Navigation BAR*/

nav {
  height: 100px;
  width: 100%;
  max-width: 1000px; /*para hacerlo responsive*/
  margin: 0 auto; /*centrarlo*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

.nav-link-list {
  display: flex; /*no se ocupa por el nav ya tiene el flex pero porcia*/
}

.nav-link-anchor {
  margin: 0 12px; /*0 arriba y abaja, 12 px der y izq*/
  text-decoration: none; /*quita bold y cosas asi*/
  color: #242424;
  font-weight: 700;
}

.nav-link-primary {
  background-color: rgb(21, 180, 127);
  padding: 8px 24px;
  color: white;
  border-radius: 50px;
  transition: all 300ms ease; /*para que active el efecto de hover un poco mas lento*/
}

.nav-link-primary:hover {
  background-color: rgb(27, 223, 158);
}

.personal-logo {
  font-size: 24px;
  color: rgb(21, 180, 127);
  margin: 0 12px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.personal-logo:after {
  content: "";
  display: block;
  width: 0%;
  padding-bottom: 2px;
  border-bottom: 2px solid rgb(21, 180, 127);
  transition: width 0.4s ease-in-out;
}

.personal-logo:hover:after {
  width: 100%;
}

/* ABOUT ME */

.about-me-info {
  display: flex;
  flex-direction: column;

}

#about-me {
  min-height: 100vh; /*full screen height*/
  display: flex;
  flex-direction: column;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center; /*no se usa justify por estar en columna*/
  max-width: 600px; /* para que no se estire por completo*/
  margin: 0 auto;
  text-align: center;
}

.about-me-figure {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25); /*8px de la sombra y 16 de dilusion*/
  margin: 28px 0;
  animation: animate-profile-picture 800ms /*lo que dura*/ 200ms /*delay*/ backwards /*para que empiece en 0%*/;
} 

@keyframes animate-profile-picture {
  0% {
    transform: scale(0); /*invisible*/
  }
  80% {
    transform: scale(1.1); /*para un efecto de agrandamiento*/
  }
  100% {
    transform: scale(1);
  }
}

.about-me-picture {
  width: 100%; /*100% del padre*/
}

.about-me-paragraph {
  font-size: 20px; /*poco mas pequeno que las letras del navbar*/
  margin-bottom: 16px;
  animation: fade-up 650ms 600ms backwards;
}

.about-me-title {
  margin-bottom: 16px;
  animation: fade-up 650ms 400ms backwards;
}

.about-me-links {
  display: flex;
  animation: fade-up 650ms 800ms backwards;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-me-link {
  padding: 0 16px;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.about-me-img-container {
  display: flex;
  flex: 1; /* para estirar el container o el figure lo que queda de la pagina*/
  align-items: center;
  animation: fade-in 1200ms 1000ms backwards;
}
.about-me-img {
  width: 100%; /*para que no se salga de la figure*/
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* LANGUAGES */

.language-img {
  width: 100%;
  max-width: 100px; /*para hacerlo responsive ya que lo maximo siempre sera el valor de aca*/
  transition: all 300ms;
}

.language:hover .language-img {
  filter: brightness(80%); /*pone el brillo en 80%*/
  opacity: 0.86; /*1 es full opacidad 0 es transparente*/
  transform: scale(0.9);
}

.language {
  width: 25%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;/*Para que el texto no se pegue tanto al container*/
  position: relative; /* para que use a este papa y no el de la pagina y el bottom: 0 funcione bien*/
}

.language-list {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap; /*para que no esten todas en la misma linea*/
}

.language-img-wrapper {
  display: flex; /* no lo hace horizontal porque es el wrapper */
  justify-content: center;
  align-items: center;
  padding: 25px 16px;
}
.language-name {
  position: absolute; /* para que no modifique el tamano del figure*/
  bottom: 0;
  transform: scale(0); /*invisible*/
  transition: all 300ms;
  font-size: 20px;
  opacity: 0;
}
.language:hover .language-name {
  /*al hacer hover en language hace esto para languange-name*/
  /*solo sirve con language porque es el primer papa relativo, los demas no*/
  transform: scale(1); /*visible*/
  opacity: 1;
}

/* Projects */

.project-img{
  width: 100%; /*para que tenga el tamano completo del wrapper*/
  transition: all 500ms ease;
}

.project-wrapper{
  display: flex;
  width: 600px;
  margin: 0 auto;/*para que se centre la imagen*/
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
  border-radius: 20px;
  overflow: hidden;
  position: relative;/*para que el absolute funcione con el papa*/ 
}

.project-wrapper:before{/*carga antes que lo que este en el elemento como tal*/
  content: "";
  position: absolute;/*para que ignore que la imagen existe y que el efecto pase encima*/
  top: 0;
  left: 0;/*para que quede en el wrapper*/
  height: 100%;
  width: 100%;/*tamano del wrapper*/
  background-color: #1c1d25;
  opacity: 0;
  transition: opacity 450ms ease;
  z-index: 2;
}

.project:hover .project-wrapper:before {
  opacity: 0.7;
}
.project:hover .project-description{
  opacity: 1;
  transform: translateY(-50%); /*para centrarlo en el eje y ya que tiene 50% de top */
}

.project:hover .project-img {
  transform: scale(1.07);/*7% bigger */;
}

.project{
  padding: 50px 0;
  display: flex; /*Para que se hagan pequenos al cambiar resolucion si no se quedan del mismo tamano*/
}

.project-description{
  position: absolute; /*para que no le cambie el tamano a nada*/
  top: 50%;
  transform: translateY(100%);/*para que empieze abajo*/
  left: 10%;
  max-width: 550px;
  transition: transform 450ms, opacity 450ms;
  z-index: 3;/*la profundidad en el eje z como este tiene 3 sale encima de algo con 2 por ejemplo*/
  opacity: 0;
}

.project-title, .project-subtitle, .project-paragraph, .project-links{
  text-align: left;
  color: white;
}

.project-title{
  font-size: 40px;
}

.project-paragraph{
  margin: 16px 0;
}

.project-link{
  font-size: 20px;
  margin-right: 8px;
  text-decoration: none;
  color: white;
}

/* FOOTER */

footer {
  background-color: #242424;
}

.footer-row{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 6% 0; /*para que sea responsive, entre mas pequena la pantalla menor va a ser el 8%*/
}

.footer-logo{
  height: 100px;
  width: 250px;
}

.footer-figure{
  margin-bottom: 20px;
}

.footer-social-link, .footer-creator, .footer-logo-arrow{
  color: #fff;
}

.footer-socials{
  margin-bottom: 20px;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
}

.footer-logo-arrow{
  position: absolute;
  right: 0;
  top: 30px;
  font-weight: 700;
  opacity: 0;
  transition: all 300ms ease;
}

.footer-anchor{
  position: relative;/*para que agarre la figura de papa y no este <a>*/
}

.footer-anchor:hover .footer-logo-arrow{
  transform: translateX(60px);
  opacity: 1;
}

/*Small phones, tablets, large smartphones*/
@media (max-width: 768px){
  nav{
    height: 68px;
  }

  h1 {
    font-size: 28px;
  }

  .about-me-paragraph{
    font-size: 18px;
  }

  .language{
    width: calc(100% / 3); /*para que queden 3 de cada lado en vez de 4*/
  }

  .project-paragraph{
    font-size: 14px;
  }

  .project-description{
    left: 30px; /*para que no quede tan a la derecha*/
    padding-right: 30px;
  }
}

/*smaller phones*/
@media (max-width: 480px){
  .nav-link:not(:last-child){
    display: none;
  }

  .project-description{
    padding: 0;
    left: 0; /*centralo con position absolute*/
    width: 100%;
  }

  .project-paragraph{
    display: none;
  }

  .project-links{
    display: flex;
    justify-content: center;
  }

  .project-title{
    font-size: 32px;
    line-height: 1; /*para que no tenga extra espacio*/
    text-align: center;
  }

  .project-subtitle{
    text-align: center;
    margin: 12px 0;
  } /*Cualquier cosa en menos de 300px no vale la pena hacer, ya que casi no existe*/
}



